#users-container {
    margin-block: 5vw;
    margin-inline: 5vw;
    display: flex;
    gap: 3vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user-box {
    width: 17vw;
    background-color: #61A7A5;
    color: white;
    border-radius: 20px;
}

.user-info {
    padding: 1vw;
}

.profile-pic {
    width: 17vw;
    height: 17vw;
    border-radius: 20px;
}