.header {
    margin: 1.5vw;
    margin-bottom: 0;
}

.carousel-inner {
    display: flex;
    height: 30vh;
    width: 90%;
    left: 5vh;
    /* width: 80vh; */
    margin: 1vh 1vw;
}

.carousel-item {
    display: block;
    z-index: 1;
    height: 100%;
    /* margin-right: 0; */
    margin: 0 1vw;
    /* flex: 0 0 calc(100%/3); */
    flex: 0 0 calc(100%/6); 

}

/* responsive (originally min-width: 576px) */
@media screen and (max-width:1000px) {
    .carousel-inner {
        display: flex;
        height: 30vh;
        width: 90%;
        left: 5vh;
        margin: 1vh 1vw;
    }

    .carousel-item {
        display: block;
        z-index: 1;
        height: 100%;
        margin: 0 1vw;
        flex: 0 0 calc(100%/4); 

    }
}

@media screen and (max-width:500px) {
    .carousel-inner {
        display: flex;
        height: 30vh;
        width: 90%;
        left: 5vh;
        /* width: 80vh; */
        margin: 1vh 1vw;
    }

    .carousel-item {
        display: block;
        z-index: 1;
        height: 100%;
        /* margin-right: 0; */
        margin: 0 1vw;
        flex: 0 0 calc(100%);
        /* flex: 0 0 calc(100%/6);  */

    }
}

.card {
    width: 80%;
    height: 100%;
    /* margin: 0 .5em; */
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px solid black;
}

.card > .img-wrapper {
    /* display: flex; */
    flex: flex-start;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    overflow: clip;
    vertical-align: top;
    /* padding: 1rem; */
    /* height: 20em; */
    /* justify-content: center;
    align-items: flex-start; */
}

.img-wrapper > img {
    /* max-width: 100%;
    max-height: 100%; */
    object-fit: cover;
    object-position: 50% 50%;
}

.card-body{
    position: aboslute;
    opacity: 0;
    z-index: 2;
}

.card-body:hover {
    cursor: pointer;
    position: aboslute;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    opacity: 1;
    z-index: 2;
    transition-duration: 0.3s;
}


.icons img {
    width: 20px;
    margin: 5px;
}

.icons {
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    /* z-index: -1; */
    max-width: 50px;
}
.carousel-control-next {
    justify-content: flex-end;
    margin: 0 20px 0 0;
}

.carousel-control-prev {
    justify-content: flex-start;
    margin: 0 0 0 20px;
}

/* Anime News */
.news {
    display: flex;
}

.news_img_wrap {
    width: 30%;
}

/* .news_image {
    width: 20vw;
} */

