.col>#login-form {
    max-width: 400px;
}


.bg-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../pages/assets/login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}