/* SIZING */

.full-height {
    height: 100vh;
}

.h-40 {
    height: 40%;
}

.h-20 {
    height: 20%;
}

.h-30 {
    height:30%;
}


.center {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.centered {
    margin:auto;
}

/* FOOTER STYLING*/

.footer {
    min-height:40vh;
}

.icons img {
    width: 20px;
    margin: 5px;
}

.icons {
    margin: auto;
}

.footer > .short-line {
    height: 5px;
    border: 4px solid black;
    width: 100px;
    display: block;
}

.footer > .long-line {
    height: 5px;
    margin: 20px 0px;
    border-top: 2px solid black;
    width: 80%;
    margin: auto;
    display: block;

    opacity: 1;

}

.background-img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: rgb(36, 56, 74);
}




