/* SIZING */

.full-height {
    height: 100vh;
}

.h-40 {
    height: 40%;
}

.h-20 {
    height: 20%;
}

.vh-15 {
    min-height:15vh;
}

.vh-10 {
    min-height:10vh;
}
.h-30 {
    height:30%;
}


.center {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.centered {
    margin:auto;
}

.remove-text-deco {
    text-decoration: none;
    color:inherit;
}
/* FOOTER STYLING*/

.footer-link {
    padding-right:1.5vw;
}

.footer {
    min-height:31.5vh;
}

.icons img {
    width: 20px;
    margin: 5px;
}

.icons {
    margin: auto;
}

.footer .short-line {
    height: 5px;
    border: 2px solid black;
    width: 100px;
    display: block;
}

.footer .long-line {
    height: 5px;
    margin: 20px 0px;
    border-top: 2px solid black;
    width: 90%;
    margin: auto;
    display: block;
    opacity: 1;
}

.background-img {
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: rgb(36, 56, 74);
}




